{% extends 'core/base.html' %}

    {% load static %}


{% block contenido %}    

    <form action="">
            <h3>
                 Crear aquí tu cuenta.
            </h3>
                <input type="text" name="nombre" placeholder="Nombre" onkeypress="return validarCaracteres(event)" onblur="limpiar()" id="miInput" required>
                <input type="text" name="Apellido" placeholder="Apellido" onkeypress="return validarCaracteres(event)" onblur="limpiar()" id="miInput" required>
                <input type="text" name="direccion" placeholder="Dirección domicilio " required>
                <input type="email" name="mail" placeholder="Correo electrónico" required>
                <input type="password" name="pass" pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*" placeholder="Cree una contraseña usando mayusculas, minusculas, números" required></p>
                <select id="regiones" size="1" required>
    
            </select>
            <select id="comunas" size="1" required>
    
            </select>
            <input type="submit" value="ENVIAR" id="boton">
    
    </form>




{% endblock contenido %}