{% extends 'core/base.html' %}
    {% load static %}


{% block contenido %}    



        <div class="container-fluid p-0">
            <div class="site-slider">
                <div class="slider-one">
                    <div>
                        <img src="{% static 'core/imagenes/celular1.jpg' %}" class="img-fluid" alt="Banner1" />
                    </div>
                    <div>
                        <img src="{% static 'core/imagenes/note3.jpg' %}" class="img-fluid" alt="Banner3" />
                    </div>
                    
                </div>
                <div class="slider-btn">
                    <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
                    <span class="next prev position-top right-0"><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <!--/Slider 1-->

        <!--Slider 2-->

        <div class="container-fluid">
            <div class="site-slider-two px-md-4">
                <div class="row slider-two text-center">
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="{% static 'core/imagenes/imagenes2/audifonos.png' %}" class="img-fluid" alt="Product 1">
                        <span class="border site-btn">AUDIFONO</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="{% static 'core/imagenes/imagenes2/iPhone.png' %}" class="img-fluid" alt="Product 2">
                        <span class="border site-btn">IPHONE</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="{% static 'core/imagenes/imagenes2/mouse1.png' %}" class="img-fluid" alt="Product 3">
                        <span class="border site-btn">MOUSE</span>                        
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="{% static 'core/imagenes/imagenes2/notebook2.png' %}" class="img-fluid" alt="Product 4">
                        <span class="border site-btn">NOTEBOOK</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="{% static 'core/imagenes/imagenes2/parlantep.png' %}" class="img-fluid" alt="Product 5">
                        <span class="border site-btn">PARLANTE</span>
                    </div>
                    <div class="col-md-2 product pt-md-5 pt-4">
                        <img src="{% static 'core/imagenes/imagenes2/smartwatch.png' %}" class="img-fluid" alt="Product 6">
                        <span class="border site-btn">SMARTWATCH</span>
                    </div>
                </div>

                <div class="slider-btn">
                    <span class="prev position-top">
                        <i class="fas fa-chevron-left fa-2x text-secondary"></i>
                    </span>
                    <span class="next prev position-top right-0">
                        <i class="fas fa-chevron-right fa-2x text-secondary"></i>
                    </span>
                </div>

            </div>
        </div>

        <!--/Slider-->

        <hr class="hr">

        <!---Sección2Carasteristicas-->

        <!--"Features"-->

        <div class="container text-center">
            <div class="features">
                <h1>Productos en Oferta</h1>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A cum id ratione assumenda modi omnis ut earum possimus eius, amet illo repellat rerum. 
                </p>
            </div>
        </div>

       <!--Slider 3--> 

        <div class="container-fluid">
            <div class="site-slider-three px-md-4">
                <div class="slider-three row text-center px4">
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes3/alexa.png' %}" class="img-fluid" alt="Image1">
                        <div class="cart-details">
                            <h6 class="pro-title p-0">Amazon Echo</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="pro-price py-2">
                                <h5>
                                    <small><s class="text-secondary">$129.990</s></small>
                                    <span>$120.000</span>
                                </h5>
                            </div>
                            <div class="cart mt-4">
                                <button class="border site-btn btn-span">Agregar al carro</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes3/Huawei-nova.png' %}" class="img-fluid" alt="Image2">
                        <div class="cart-details">
                            <h6 class="pro-title p-0">Huawei Nova</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>                                
                            </div>
                            <div class="pro-price py-2">
                                <h5>
                                    <small><s class="text-secondary">$359.990</s></small>
                                    <span>$325.000</span>
                                </h5>
                            </div>
                            <div class="cart mt-4">
                                <button class="border site-btn btn-span">Agregar al carro</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes3/LCD.png' %}" class="img-fluid" alt="Image3">
                        <div class="cart-details">
                            <h6 class="pro-title p-0">LED Samsung</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                            <div class="pro-price py-2">
                                <h5>
                                    <small><s class="text-secondary">$539.990</s></small>
                                    <span>$500.000</span>
                                </h5>
                            </div>
                            <div class="cart mt-4">
                                <button class="border site-btn btn-span">Agregar al carro</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes3/plays.png' %}" class="img-fluid" alt="Image4">
                        <div class="cart-details">
                            <h6 class="pro-title p-0">Consola PS4 1TB</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>                                
                            </div>
                            <div class="pro-price py-2">
                                <h5>
                                    <small><s class="text-secondary">$439.990</s></small>
                                    <span>$400.000</span>
                                    
                                </h5>
                            </div>
                            <div class="cart mt-4">
                                <button class="border site-btn btn-span">Agregar al carro</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes3/xbox1.png' %}" class="img-fluid" alt="Image4">
                        <div class="cart-details">
                            <h6 class="pro-title p-0">Consola Xbox One S 1TB</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>                                
                            </div>
                            <div class="pro-price py-2">
                                <h5>
                                    <small><s class="text-secondary">$250.990</s></small>
                                    <span>$220.000</span>
                                    
                                </h5>
                            </div>
                            <div class="cart mt-4">
                                <button class="border site-btn btn-span">Agregar al carro</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes3/teclado.png' %}" class="img-fluid" alt="Image4">
                        <div class="cart-details">
                            <h6 class="pro-title p-0">Teclado mecánico Logitech</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>                                
                            </div>
                            <div class="pro-price py-2">
                                <h5>
                                    <small><s class="text-secondary">$99.000</s></small>
                                    <span>$95.990</span>
                                    
                                </h5>
                            </div>
                            <div class="cart mt-4">
                                <button class="border site-btn btn-span">Agregar al carro</button>
                            </div>
                        </div>
                   
                    </div>
                </div>
                <div class="slider-btn">
                    <span class="prev position-top">
                        <i class="fas fa-chevron-left fa-2x text-secondary"></i>
                    </span>
                    <span class="next prev position-top right-0">
                        <i class="fas fa-chevron-right fa-2x text-secondary"></i>
                    </span>
                </div>
            </div>
        </div>
      <!--/Slider 3--> 

        <!---/Sección2Carasteristicas-->

        <!----"sofa Section"-->

        <div class="container-fluid sofa bg-light">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="row box">
                        <div class="col-md-2 p-0 pl-md-3 bg-white offset-1 d-flex flex-md-column flex-sm-row">
                            <div class="py-md-2">
                                <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                                    <h5 class="primary-color"><strong>125</strong></h5>
                                    <em>Días</em>
                                </div>
                                <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                                    <h5 class="primary-color"><strong>5</strong></h5>
                                    <em>Horas</em>
                                </div>
                                <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                                    <h5 class="primary-color"><strong>45</strong></h5>
                                    <em>Minutos</em>
                                </div>
                                <div class="py-md-2 py-2 mt-3 bg-white border text-center">
                                    <h5 class="primary-color"><strong>13</strong></h5>
                                    <em>Segundos</em>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="text-left">
                                <img src="{% static 'core/imagenes/imagenes5/hp-allinone.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 pt-5">
                    <h4 class="text-left">HP All In One</h4>
                    <p class="text-secondary pr-5 pt-3">
                        <small>
                           Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                           Necessitatibus nisi molestiae cum dolorum amet ullam, 
                           illum pariatur repudiandae in esse beatae, 
                           ab temporibus assumenda architecto voluptatem aspernatur 
                           ad aliquid suscipit. 
                        </small>
                    </p>
                    <div class="rating lightblue">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>                        
                    </div>
                    <h4 class="pt-2">
                        <small><s class="text-secondary">$750.000</s></small>
                        <span class="text-color">$520.990</span>
                    </h4>
                    <div class="cart mt-4 row">
                        <div class="col-md-4 col-sm-12 p-0">
                            <button class="border site-btn btn-span bg-primary-color text-white">
                                Agregar al carro
                            </button>

                        </div>
                        <div class="col-md-5 col-sm-12 p-0 mt-3">
                            <span class="p-3 bg-white border rounded-circle"><i class="far fa-heart"></i></span>
                            <span class="p-3 bg-white border rounded-circle"><i class="far fa-sync-alt"></i></span>
                            <span class="p-3 bg-white border rounded-circle"><i class="far fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!----/"sofa Section"-->


        <div class="container-fluid">
            <div class="site-slider-four px-md-4">
                <div class="slider-four row text-center">
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes6/Occulus.png' %}">                        
                    </div>
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes6/xbox.png' %}">                        
                    </div>
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes6/audifono_samsung.png' %}">                        
                    </div>
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes6/iPad.png' %}">                        
                    </div>
                    <div class="col-md-2 product pt-md-5">
                        <img src="{% static 'core/imagenes/imagenes6/ryzen.png' %}">                        
                    </div>
                </div>
                <div class="slider-btn">
                    <span class="prev position-top">
                        <i class="fas fa-chevron-left fa-2x text-secondary"></i>
                    </span>
                    <span class="next prev position-top right-0">
                        <i class="fas fa-chevron-right fa-2x text-secondary"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="col-md-8">
                    <img src="" class="">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

{% endblock contenido %}




       

